.limits {
  display: grid;
  padding: var(--space-1) var(--space-5);
  border-radius: var(--radius-md);
  background-color: var(--surface-sunken);
}

.limits > :first-child {
  border-top: 0;
}

@media (max-width: 40rem) {
  .limits {
    padding-inline: var(--space-4);
  }
}
